.container {
  display: flex;
  gap: 20px;
  justify-content: center;
  margin-bottom: 20px;
}
.card {
  width: 16rem;
  height: 400px;
  border-radius: 15px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.4);
  overflow: hidden;
}
.card img {
  width: 100%;
  background-color: grey;
  height: 200px;
  display: block;
}
.iklan {
  width: 32rem;
  overflow: hidden;
}
.iklan img {
  border-radius: 15px;
  width: 100%;
  height: 300px;
  background-color: grey;
  display: block;
}
.category {
  width: 5rem;
  overflow: hidden;
  margin-left: 30px;
  text-align: center;
}

.category img {
  border-radius: 100%;
  width: 100%;
  height: 75px;
  display: block;
}
.card-body {
  padding: 15px;
}
h2,
p {
  margin: 0;
  padding: 0;
}
.btn-primary {
  background-color: #007bff;
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 5px;
}
